@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><a style="text-decoration:none;color:#A020F0;" asp-action="Index" asp-controller="Status"><strong>Syscheck</strong></a></h1>
    <p>Repositorio <a style="text-decoration:none;" target="_blank" href="https://github.com/D4nRossi/SysMaster">GitHub</a></p>
</div>
